includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src
        - tests

    # The level 9 is the highest level
    level: 8

    # `env` calls from `tests` directory are allowed
    noEnvCallsOutsideOfConfig: false

    ignoreErrors:
        - '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage::(.*)#'
        - '#Cannot call method expectsQuestion\(\) on Illuminate\\Testing\\PendingCommand\|int\.#'

    excludePaths:
        - ./tests/resources/**
